name: Staging Build2
run-name:  "ArtifactID: ${{ github.run_id }}"

on:
  workflow_dispatch

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo ' build compelted '
     














