name: Staging Deploy2
run-name:  "ArtifactID: ${{ github.run_id }}"

on:
  workflow_dispatch:
  
  workflow_run:
    workflows: ["Staging Build2"]
    types: [completed]
env:
  ARTIFACT_ID: ${{  github.event_name == 'workflow_run' && github.event.workflow_run.id ||  github.event.inputs.run_id ||  github.run_id }}
  
jobs:
  Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: Raise PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create --base main --head "feature/gha" --title "this is title" --body "this is body" 
          
      - name: echo
        run: |
          echo '${{ github.event.workflow_run.id }} build compelted '
          echo '$ARTIFACT_ID build compelted '
          echo '${{ env.ARTIFACT_ID}} build compelted '
     
          echo "name" ${{ github.event.workflow_run.namne }}
          echo "id" ${{ github.event.workflow_run.id }}
          echo "conclusion" ${{ github.event.workflow_run.conclusion }}
          echo "status" ${{ github.event.workflow_run.status }}
          echo "actor login" ${{ github.event.workflow_run.actor.login }}
          echo "head_sha" ${{ github.event.workflow_run.head_sha }}
          echo "head_branch" ${{ github.event.workflow_run.head_branch}}
          echo "head_repository.full_name" ${{ github.event.workflow_run.head_repository.full_name }}













