name: Staging Deploy2
run-name:  "ArtifactID: ${{ github.run_id }}"

on:
  workflow_run:
    workflows: ["Staging Build2"]
    types: [completed]
env:
  ARTIFACT_ID: ${{  github.event_name == 'workflow_run' && github.event.workflow_run.id ||  github.event.inputs.run_id ||  github.run_id }}
  
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: |
          echo '${{ github.event.workflow_run.id }} build compelted '
          echo '$ARTIFACT_ID build compelted '
          echo '${{ env.ARTIFACT_ID}} build compelted '
     














